*{  box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body,html{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: #f2f2f2;
}
.wrapper{
    width: 450px;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
}
.wrapper .titel{
    line-height: 100px;
    text-align: center;
    background:linear-gradient(-135deg,#b438ee,#ef11a5);
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}
.wrapper form{
    padding: 10px 30px 50px 30px;
}
.wrapper form .filed {
      height: 50px;
      width: 100%;
      margin-top: 20px;
      position: relative;
       
}
.wrapper form .filed input{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 20px;   
}
.wrapper form .filed label{
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 1.1rem;
    transform: translateY(-50%);
    pointer-events: none;
    background-color: #fff;
    transition: all 0.4s;
}
.wrapper form .filed input:focus ~ label,
.wrapper form .filed input:valid ~ label{
    top: 0%;
    transform: translateY(-50%);
    font-size: 1rem;
}
.wrapper .pass-link {
    margin: 8px 0  0 10px;
    
}
.wrapper .pass-link .rem-input{
    direction: rtl;
    margin: -16px 0px 0px  10px;
    display: flex;
    gap: 4px;
}
.wrapper form .filed input[type=submit]{
    padding-left: 0;
    font-size: 1.1rem;
    color: #fff;
    background:linear-gradient(-135deg,#b438ee,#ef11a5);
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 5px;
}
.wrapper form .filed input[type=submit]:active{
    transform: scale(0.55);
}
.wrapper .member{
    text-align: center;
    padding: 0px 0px 30px 0;    
}

/* 414 px */

@media (max-width:414px){
    .wrapper {
        width: 380px;
    }
}
