*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: #f2f2f2;
}
.wrapper{
 width: 400px;
 background-color: #fff;
 border-radius: 15px;
 overflow: hidden;
 box-shadow: 0 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
    line-height: 100px;
    background: linear-gradient(-135deg,rgb(150, 39, 201),rgb(221, 96, 223));
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    
}
.wrapper form{
    padding: 10px 30px 50px 30px;
}
.wrapper form .filed{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.wrapper form .filed input{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid lightgrey;
    transition: all ease 1s ;
}
.wrapper form .filed input:focus,
.wrapper form .filed input:valid{

    border-color: #4158d0;
}
.wrapper form .filed label{
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 1.1rem;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all ease 0.3s;
    background-color: #fff;
}
.wrapper form .filed input:focus ~ label,
.wrapper form .filed input:valid ~ label{
    top:0;
    font-size: 1rem;
    transform: translateY(-50%);
}
.wrapper form .filed input[type=submit]{
    color:#fff;
    background:linear-gradient(-135deg,rgb(150, 39, 201),rgb(221, 96, 223));
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    padding-left: 0px;
    cursor: pointer;
    transition: all 0.3s;
}
.wrapper form .filed input[type=submit]:active{
    transform: scale(0.9);
}
.wrapper form .pass-link{
    margin: 8px 0 0 10px ;
}
.wrapper form .sign-up{
    margin-top: 20px;
    text-align: center;
   
}
.wrapper form .pass-link a,
.wrapper form .sign-up a{
    text-decoration: none;
   
}
.wrapper form .pass-link a:hover,
.wrapper form .sign-up a:hover{
    text-decoration: underline;
}